<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>有鱼美食</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx67935899de074c73</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>delicacy</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rydelicacy</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.7</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>WB3159381455</string>
		<string>com.pd.A4Player</string>
		<string>pphelperNS</string>
		<string>ap2015041600046390</string>
		<string>BossZP</string>
		<string>koubei</string>
		<string>wxb45673e2d96faa6a</string>
		<string>tmallalipay</string>
		<string>gtxvideo</string>
		<string>comccbpay105330173990048com.netease.kaola</string>
		<string>wx3fcdd8310a136ff8</string>
		<string>sina.55093caefd98c59cf3000fff</string>
		<string>wx6d2ad6ce3e1cd86e</string>
		<string>mtec.mtxx</string>
		<string>QAuth</string>
		<string>tencent101505099</string>
		<string>QQ41D500EA</string>
		<string>mp1089867489</string>
		<string>JDThirdPartyLogin</string>
		<string>wb3054804248</string>
		<string>wx35aae68d3c6cad27</string>
		<string>niumowang</string>
		<string>sina.53b27b6e56240b182e0240d6</string>
		<string>dingtalk</string>
		<string>QQWPPPLiveShow</string>
		<string>wx403cd28c142c7d87</string>
		<string>tigerobo</string>
		<string>tbopen23261993</string>
		<string>tujia</string>
		<string>cydia</string>
		<string>weixin</string>
		<string>ushengsheng.xjb</string>
		<string>hwy34</string>
		<string>wb1470713583</string>
		<string>newcarsecond</string>
		<string>wx29d28524d6eaf623</string>
		<string>tagmanager.c.com.jiangjia.gif</string>
		<string>elong</string>
		<string>wb2018038584</string>
		<string>shuqireaderap</string>
		<string>wb1902495481</string>
		<string>tencent205887</string>
		<string>tencent100686853</string>
		<string>bojoy1124330768</string>
		<string>apoauth2018120462475252</string>
		<string>chsp.widget</string>
		<string>autotrack.969ac9aa</string>
		<string>wx9733a5417aee84c2</string>
		<string>tencent1107890136</string>
		<string>tencent1000002078</string>
		<string>QQ05FEB9C8</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>“有鱼美食”需要您的同意, 才能访问相机来拍摄头像</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>“有鱼美食”需要您的同意, 才能访问相册来上传用户头像</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>“有鱼美食”需要您的同意, 才能访问相册来上传用户头像</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
