<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>妙招助手</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx5dbe4ff4977061f7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ruiyu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rymiaozhao</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent101685202</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb2459930224</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weibosdk2.5</string>
		<string>weibosdk</string>
		<string>sinaweibohd</string>
		<string>mqzone</string>
		<string>amapuri</string>
		<string>QQ41D6CA86</string>
		<string>ctclient</string>
		<string>wb801531072</string>
		<string>com.sogou.sogouinput.TodayWidget</string>
		<string>UCBrowser</string>
		<string>wx1a849cf0e22bcc3e</string>
		<string>share2qbb6</string>
		<string>pinduoduo</string>
		<string>lianjiaapp</string>
		<string>autohome</string>
		<string>wb3881223099</string>
		<string>cn.12306</string>
		<string>wx3fea7a3c94a23944</string>
		<string>iMeituan</string>
		<string>BOCMBCIWidget</string>
		<string>com.icbc.iphoneclient</string>
		<string>wb1655525959</string>
		<string>alicertpay</string>
		<string>meetyou.linggan</string>
		<string>LanternWiFi</string>
		<string>youzanf33ee995</string>
		<string>tencent1106695746</string>
		<string>didipasnger</string>
		<string>sinaweibo</string>
		<string>mtec.mtxx</string>
		<string>wx76fea7d687dd7837</string>
		<string>dtxuexi</string>
		<string>wbmain</string>
		<string>mqq</string>
		<string>BaiduSSO</string>
		<string>fb1413943445592925</string>
		<string>KGWalletRecharging</string>
		<string>mqzoneapi</string>
		<string>ykwbplay</string>
		<string>wb697768697</string>
		<string>WB3159381455</string>
		<string>com.pd.A4Player</string>
		<string>pphelperNS</string>
		<string>ap2015041600046390</string>
		<string>BossZP</string>
		<string>wxb45673e2d96faa6a</string>
		<string>gtxvideo</string>
		<string>sina.55093caefd98c59cf3000fff</string>
		<string>mp1089867489</string>
		<string>JDThirdPartyLogin</string>
		<string>dingtalk</string>
		<string>tbopen23261993</string>
		<string>cydia</string>
		<string>weixin</string>
		<string>tagmanager.c.com.jiangjia.gif</string>
		<string>chsp.widget</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>“妙招助手”需要您的同意, 才能访问相机来拍摄照片</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>“妙招助手”需要您的同意, 才能访问相册来使用照片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>“妙招助手”需要您的同意, 才能访问相册来使用照片</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
